@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body { background: #000000;}

.bellefair {
  font-family: 'Bellefair', serif;
}

.barlow_condensed {
  font-family: 'Barlow Condensed', sans-serif;
}

.barlow{
  font-family: 'Barlow', sans-serif;
}